.main-container
    a(name="tag4") 
    .about-container
        h3#tag4.section-title Почему 10 000 000 человек по всему миру выбирают продукцию NSP? 
            span.br-mobile
            span.text-red 10 причин
        .about 
            .about-list
                p.about-list__item NSP рекомендуемая продукция. Об NSP ходит много слухов и в большинстве своём они о положительных результатах применения.
                p.about-list__item NSP легко купить. Где бы не находился человек в его городе есть магазин или служба доставки. Благодаря чему получить желаемый продукт можно в течении нескольких часов.
                p.about-list__item В NSP очень широкий ассортимент. Есть практически все, что ищут люди для тех или иных систем организма. Начиная от монопродуктов таких как (подарко, черный орех, красный клевер) заканчивая уникальными запотентованными формулами такими как (Грей Пайн, Защитная Формула, SC formula и др)
                .about-dropdown
                    p.about-list__item NSP это надёжный бренд 21 год в СНГ, 50 лет в мире. Его любят ценители качественных добавок и пользуются им много лет.
                    p.about-list__item NSP это не только питание и профилактика, но и база для получения терапевтических результатов. По этой причине с этими продуктами работают тысячи врачей во многих странах мира. Доверяют ему и получают устойчивые прогнозируемые результаты.
                    p.about-list__item NSP это не только продукт, но и сильная образовательная платформа. Здесь можно получить информацию о любом продукте, о темах по нутрициологии и диетологии. Семинары, курсы, вэбинары постоянно способствуют повышению квалификации консультантов и потребительской грамотности клиентов. Клиент получает ответ на любой вопрос, а наличие персонального консультанта у каждого клиента помогает эффективно подбирать индивидуальную программу оздоровления.
                    p.about-list__item NSP это сообщество. Здесь никто не остаётся один на один со своей проблемой. Чаты, Форумы, Открытые встречи это не только возможность получить ответы на свои вопросы, но и качественное общение.
                    p.about-list__item Качество продукта — безупречно. Это подтверждается как соответствующими сертификатами, так и результатами у клиентов, которые в отзывах рассказывают о своём опыте в сравнении с аналоговыми продуктами других брендов.
                    p.about-list__item Цена!!! Откровенно она не самая низкая на рынке добавок, но абсолютно обоснована запатентованными синергичными формулами, внутренним контролем качества сырья и готовой продукции, высокотехнологичным производством, клиническими исследованиями. Качественный продукт, по определению не может быть дешёвым, но он может стать доступным благодаря пункту 10.
                    p.about-list__item Программа лояльности для клубных клиентов! Компания уважает и ценит своих постоянных клиентов, поэтому дарит им особые условия. Вот здесь пользоваться продукцией становиться очень приятно и выгодно!
                a(href="#").about-dropdown__btn 
                    span.about-dropdown__btn-closed Показать остальные причины
                    span.about-dropdown__btn-active Скрыть причины 
                    svg.icon.icon--angle-down
                        use(href="img/sprite.svg#angle-down")
                .buttons 
                    .buttons__item 
                        a(href="modal").btn.btn-primary.modal-btn Оформить дисконтную карту 
                    .buttons__item 
                        a(href="#").btn-secondary.btn-green Смотреть каталог
            div(data-aos="zoom-in" data-aos-duration="1000").about__img 
                img(src="img/about.png", alt="")