.main-container 
    #tag3.benefits 
        .benefits__col  
            ul.benefits-list.benefits-list--left
                li(data-aos="fade-right").benefits-list__item Повышает уровень гемоглобина в крови
                li(data-aos="fade-right").benefits-list__item Проявляет антибактериальные свойства
                li(data-aos="fade-right").benefits-list__item Эффективен при инфекционных заболеваниях
                li(data-aos="fade-right").benefits-list__item Способствует формированию соединительной ткани
                li(data-aos="fade-right").benefits-list__item Способствует формированию соединительной ткани
        .benefits__img 
            img(src="img/benefits.png", alt="")
        .benefits__col 
            ul.benefits-list.benefits-list--right
                li(data-aos="fade-left").benefits-list__item Усиливает иммунную функцию
                li(data-aos="fade-left").benefits-list__item Проявляет антиоксидантное действие
                li(data-aos="fade-left").benefits-list__item Проявляет антиоксидантное действие
                li(data-aos="fade-left").benefits-list__item Эффективен в предотвращении возникновения опухолей
                li(data-aos="fade-left").benefits-list__item Усиливает выработку ферментов поджелудочной железы
    .profit-list 
        .profit-list__item 
            .profit-card
                .profit-card__number 
                    span.profit-card__number-inner х7
                p.profit-card__text В хлорофилл в 7 раз больше витамина С , чем в апельсинах
        .profit-list__item 
            .profit-card
                .profit-card__number 
                    span.profit-card__number-inner х5
                p.profit-card__text В хлорофилле в 5 раз больше железа, чем в шпинате
        .profit-list__item 
            .profit-card
                .profit-card__number 
                    span.profit-card__number-inner х11
                p.profit-card__text В 11 раз больше кальция, чем в молок
        .profit-list__item 
            .profit-card
                .profit-card__number 
                    span.profit-card__number-inner х6,5
                p.profit-card__text В 6,5 раз больше каротина, чем в шпинате 

