footer.footer
    .wave-1
        <svg viewBox="0 0 1920 959" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_107_19)">
                <path d="M314.1 383.063C324 390.847 363.6 417.783 411.1 431.251C453.2 443.237 478.4 450.403 530.1 446.079C581.6 441.878 628.3 432.363 684.1 412.594C739.9 392.824 776.7 374.661 835 353.285C893.5 331.661 928.1 315.722 974.9 308.679C1021.8 301.76 1099.5 296.076 1165.9 312.386C1232.3 328.696 1259.9 343.153 1315.9 356.991C1371.9 370.707 1425.9 381.951 1504.9 380.468C1583.8 378.985 1651.8 372.931 1737.9 348.342C1824 323.63 1919.9 280.26 1919.9 280.26V758.07H0V200.069C0 200.069 38.5 197.845 83 218.603C127.5 239.362 173.5 266.421 198.1 286.685C222.6 306.949 304 375.278 314.1 383.063Z" fill="#F8F7F7"/>
            </g>
            <defs>
                <filter id="filter0_d_107_19" x="-200" y="0" width="2319.9" height="958.07" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="100"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_107_18"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_107_18" result="shape"/>
                </filter>
            </defs>
        </svg>
    .wave-2
        <svg viewBox="0 0 1920 375" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_124_34)">
                <path d="M0.00610352 380.774L1920 381.5L1920 218.822C1919.6 218.096 1896.51 222.817 1871.02 227.174C1734.97 250.415 1646.2 213.98 1614.01 204.176C1531.94 178.998 1424.08 155.817 1332.52 175.124C1264.64 189.408 1218.76 212.467 1166.48 235.708C1161.58 237.827 1112.3 263.489 1090.01 268.996C1066.51 274.806 1045.62 273.051 1026.53 268.996C1003.04 264.094 976.747 257.618 953.955 252.594C962.652 254.531 919.868 246.058 880.982 250.173C842.596 254.289 764.425 286.427 750.03 290.664C576.494 342.774 482.029 298.592 482.029 298.592C482.029 298.592 407.656 271.841 372.069 257.436C281.303 220.759 152.15 133.242 0.505981 133C-0.09375 241.216 0.00610352 16.5436 0.00610352 380.774Z" fill="white"/>
            </g>
            <defs>
                <filter id="filter0_d_124_34" x="-64.0001" y="0" width="2048" height="381.5" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="-69"/>
                <feGaussianBlur stdDeviation="32"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.02 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_124_33"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_124_33" result="shape"/>
                </filter>
            </defs>
        </svg>
    .footer__img-bg 
        img(src="img/map.svg", alt="")
    .main-container 
        .footer__photo 
            img(src="img/photo.png", alt="")
        h3.section-title Как оформить дисконтную карту с помощью представителя NSP?
            span.section-title__quotes
                svg.icon.icon--quotes
                    use(href="img/sprite.svg#quotes") 
        .footer__info#tag6 
            .footer__row Оформить дисконтную карту с помощью представителя NSP можно по телефону:
            .footer__row Velcom: 
                a(href="tel:+375296852472").footer__phone +375 (29) 685-24-72
            .footer__row
                ul.social-list 
                    li.social-list__item
                        a(href="#").social-list__link
                            .social-list__ico.social-list__ico-telegram
                                svg.icon.icon--telegram
                                    use(href="img/sprite.svg#telegram") 
                            |Telegram
                    li.social-list__item
                        a(href="#").social-list__link
                            .social-list__ico.social-list__ico-viber
                                svg.icon.icon--viber
                                    use(href="img/sprite.svg#viber")
                            |Viber 
                    li.social-list__item
                        a(href="#").social-list__link
                            .social-list__ico.social-list__ico-whatsapp
                                svg.icon.icon--whatsapp
                                    use(href="img/sprite.svg#whatsapp")
                            |WhatsApp
            .footer__row пн-вс с 8:00 до 19:00 по МСК
            .footer__name 
                b Прохоренко Эмма 
                |(Беларусь)
            .footer__developer Сайт разработан 
                a(href="#") LIKEIT.BY 


