.instruction-container 
    .main-container 
        h3#tag5.section-title Где купить CHLOROPHYLL 
        .sub-title Приобретайте Хлорофилл по выгодной цене
        .steps 
            div(data-aos="fade-left").steps__item 
                .steps__head Шаг 1
                .steps__text 
                    b.text-yellow Зарегистрируйтесь, 
                    |указав номер сервисного центра 290, 
                    span.text-yellow и получите персональный ID-номер
            div(data-aos="fade-left" data-aos-delay="200").steps__item 
                .steps__head Шаг 2
                .steps__text 
                    b.text-yellow Обратитесь в аптеку, 
                    |представляющую продукцию компании на 
                    a(href="#").link-red сайте
            div(data-aos="fade-left" data-aos-delay="400").steps__item 
                .steps__head Шаг 3
                .steps__text 
                    b.text-yellow Укажите свой ID-номер 
                    |и приобретайте Liquid Chlorophyll и любые другие продукты NSP по оптовым ценам
            div(data-aos="fade-left" data-aos-delay="600").steps__item 
                .steps__head Шаг 4
                .steps__text  
                    |Зарегистрировавшись, 
                    b.text-yellow вы сможете получать продукцию НСП без розничной торговой наценки 
                    |и накапливаете дополнительные 
                    span.text-yellow 5-30% постоянной скидки
        .card-container
            div(data-aos="zoom-in-up").card-container__item
                .card.card-registration 
                    .card-title С оформлением
                    .price 
                        .price__number 23,42&#36;
                        |за одну единицу
                    a(href="#").btn.btn-full.btn-primary Приобрести со скидкой
                    .note - по курсу НБРБ в день покупки 
            div(data-aos="zoom-in-up" data-aos-delay="400").card-container__item
                .card 
                    .card-title Без оформления
                    .price 
                        .price__number 32,79&#36;
                        |за одну единицу
                    a(href="#").btn.btn-full.btn-gray Без регистрации
                    .note - по курсу НБРБ в день покупки 
            div(data-aos="zoom-in-up" data-aos-delay="800").card-container__item
                .card 
                    .card-title Связаться с нами в месенджерах
                    ul.social
                        li.social__item
                            a(href="#").social__link.social__link-telegram
                                svg.icon.icon--telegram
                                    use(href="img/sprite.svg#telegram") 
                        li.social__item
                            a(href="#").social__link.social__link-whatsapp
                                svg.icon.icon--whatsapp
                                    use(href="img/sprite.svg#whatsapp") 
                        li.social__item
                            a(href="#").social__link.social__link-viber
                                svg.icon.icon--viber
                                    use(href="img/sprite.svg#viber")
                    .card__img
                        img(src="img/card-img.png", alt="")
        .reminder Не забывайте указывать при регистрации сервисный центр 290

