#modal.modal
    a(href="#").modal-close
        svg.icon.icon--cross
            use(href="img/sprite.svg#cross")
    .modal__inner
        h3.section-title Оформить дисконтнуюкарту
        .sub-title Оставьте свои данные и наш менеджер свяжется с вами
        .modal-row 
            .form-control 
                input(type="text", placeholder="Ваше имя").form-control__input
        .modal-row 
            .form-control 
                input(type="text", placeholder="Ваше E-mail").form-control__input
        .modal-row 
            .form-control 
                input(type="text", placeholder="Страна").form-control__input
        .modal-row 
            .form-product 
                input(type="text", placeholder="+ 375 (__) ___-__-__").form-product__input
                .country-select 
                    a(href="#").country-select__btn
                        .country-select__img
                            img(src="img/flag/by.png", alt="")
                        svg.icon.icon--angle-down
                            use(href="img/sprite.svg#angle-down")
                    .country-select__dropdown 
                        ul.country-list 
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/az.png", alt="")
                                    | AZ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ar.webp", alt="")
                                    | AM
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ru.png", alt="")
                                    | RU
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ml.png", alt="")
                                    | MD
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/tg.png", alt="")
                                    | TJ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/uz.png", alt="")
                                    | UZ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/by.png", alt="")
                                    | BL
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/kg.webp", alt="")
                                    | KG
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/kz.png", alt="")
                                    | KZ
        .modal-row 
            a(href="#").btn.btn-primary.btn-full Отправить 
        .rules Нажимая на кнопку 
            b Отправить 
            |вы даете согласие на отбаботку ваших персональных данных.
