.product-container
    .wave-1
        <svg viewBox="0 0 1920 959" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_107_18)">
                <path d="M314.1 383.063C324 390.847 363.6 417.783 411.1 431.251C453.2 443.237 478.4 450.403 530.1 446.079C581.6 441.878 628.3 432.363 684.1 412.594C739.9 392.824 776.7 374.661 835 353.285C893.5 331.661 928.1 315.722 974.9 308.679C1021.8 301.76 1099.5 296.076 1165.9 312.386C1232.3 328.696 1259.9 343.153 1315.9 356.991C1371.9 370.707 1425.9 381.951 1504.9 380.468C1583.8 378.985 1651.8 372.931 1737.9 348.342C1824 323.63 1919.9 280.26 1919.9 280.26V758.07H0V200.069C0 200.069 38.5 197.845 83 218.603C127.5 239.362 173.5 266.421 198.1 286.685C222.6 306.949 304 375.278 314.1 383.063Z" fill="#F8F7F7"/>
            </g>
            <defs>
                <filter id="filter0_d_107_18" x="-200" y="0" width="2319.9" height="958.07" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset/>
                    <feGaussianBlur stdDeviation="100"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_107_18"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_107_18" result="shape"/>
                </filter>
            </defs>
        </svg>
    .wave-2
        <svg viewBox="0 0 1920 814" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g filter="url(#filter0_d_107_24)">
                <path d="M1920.7 811.841L0 813.323V308.702C0.4 307.219 23.5 316.857 49 325.753C185.1 373.2 273.9 298.817 306.1 278.8C388.2 227.399 496.1 180.075 587.7 219.491C655.6 248.651 701.5 295.728 753.8 343.175C758.7 347.5 808 399.889 830.3 411.133C853.8 422.995 874.7 419.412 893.8 411.133C917.3 401.125 943.6 387.904 966.4 377.649C957.7 381.602 1000.5 364.304 1039.4 372.706C1077.8 381.108 1156 446.719 1170.4 455.368C1344 561.754 1438.5 471.555 1438.5 471.555C1438.5 471.555 1512.9 416.941 1548.5 387.533C1639.3 312.656 1768.5 133.987 1920.2 133.493C1920.8 354.419 1920.7 68.2525 1920.7 811.841Z" fill="white"/>
            </g>
                <defs>
                <filter id="filter0_d_107_24" x="-64" y="0.492554" width="2048.71" height="812.831" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="-69"/>
                    <feGaussianBlur stdDeviation="32"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.02 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_107_24"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_107_24" result="shape"/>
                </filter>
            </defs>
        </svg>
    .main-container 
        h3#tag1.section-title Продукция NSP предназначена
        p.sub-title Хлорофилл позволяет восполнять суточную норму зеленых растений в рационе человека, тем самым нормализуя работу организма.
        ul.product-list 
            li(data-aos="flip-up" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-1.jpg", alt="")
                    .product-list__use При насморке
            li(data-aos="flip-up" data-aos-delay="100" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-2.jpg", alt="")
                    .product-list__use При простуде
            li(data-aos="flip-up" data-aos-delay="200" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-3.jpg", alt="")
                    .product-list__use При кишечных коликах
            li(data-aos="flip-up" data-aos-delay="300" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-4.jpg", alt="")
                    .product-list__use При при отравлении
            li(data-aos="flip-up" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-5.jpg", alt="")
                    .product-list__use При ожогах 
            li(data-aos="flip-up" data-aos-delay="100" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-6.jpg", alt="")
                    .product-list__use При болях в желудке
            li(data-aos="flip-up" data-aos-delay="200" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-7.jpg", alt="")
                    .product-list__use При аллергии
            li(data-aos="flip-up" data-aos-delay="300" data-aos-duration="1000").product-list__item 
                .product-list__inner
                    .product-list__img
                        img(src="img/product/product-8.jpg", alt="")
                    .product-list__use При боле в спине
.main-container 
    #tag2.consultation
        .consultation-decor 
            .bush-1
                img(src="img/decor/bush-1.png", alt="")
            .bush-2
                img(src="img/decor/bush-2.png", alt="")
            .bush-3
                img(src="img/decor/bush-2.png", alt="")
            .scene.scene-back
                div(data-depth="0.2").parallax-item
                    .cloud-1
                        img(src="img/decor/cloud.png", alt="")
                div(data-depth="0.25").parallax-item
                    .cloud-2
                        img(src="img/decor/cloud.png", alt="")
            .scene.scene-front
                div(data-depth="0.1").parallax-item
                    .cloud-3
                        img(src="img/decor/cloud.png", alt="")
                div(data-depth="0.25").parallax-item
                    .cloud-4
                        img(src="img/decor/cloud.png", alt="")
                div(data-depth="0.1").parallax-item
                    .cloud-5
                        img(src="img/decor/cloud.png", alt="")
        .consultation__inner
            .consultation__text Получить консультацию, 
                span.consultation__text-yellow нутрициолога
            .form-product 
                input(type="text", placeholder="+ 375 (__) ___-__-__").form-product__input
                .country-select 
                    a(href="#").country-select__btn
                        .country-select__img
                            img(src="img/flag/by.png", alt="")
                        svg.icon.icon--angle-down
                            use(href="img/sprite.svg#angle-down")
                    .country-select__dropdown 
                        ul.country-list 
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/az.png", alt="")
                                    | AZ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ar.webp", alt="")
                                    | AM
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ru.png", alt="")
                                    | RU
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/ml.png", alt="")
                                    | MD
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/tg.png", alt="")
                                    | TJ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/uz.png", alt="")
                                    | UZ
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/by.png", alt="")
                                    | BL
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/kg.webp", alt="")
                                    | KG
                            li.country-list__item    
                                a(href="#").country-list__link
                                    .country-select__img
                                        img(src="img/flag/kz.png", alt="")
                                    | KZ
            a(href="#").btn-send Отправить
                svg.icon.icon--arrow-right
                    use(href="img/sprite.svg#arrow-right")

