.main-container.sertificate-slider-cont
    h3.section-title.sertificate-title Наши 
        span.br-mobile 
        |сертификаты
    .sertificate-slider
        .swiper-wrapper 
            .swiper-slide 
                a(href="img/sertificate.jpg" data-fancybox).sertificate-img
                    img(src="img/sertificate.jpg", alt="") 
            .swiper-slide 
                a(href="img/sertificate-3.jpg" data-fancybox).sertificate-img
                    img(src="img/sertificate-3.jpg", alt="") 
            .swiper-slide 
                a(href="img/sertificate-2.jpg" data-fancybox).sertificate-img
                    img(src="img/sertificate-2.jpg", alt="") 

    h3.section-title.sertificate-title Наши 
        span.br-mobile 
        |отзывы
    .reviwe-slider-container
        .reviwe-slider
            .swiper-wrapper 
                .swiper-slide 
                    img(src="img/reviwe.webp", alt="").reviwe-img
                .swiper-slide 
                    img(src="img/reviwe-2.jpg", alt="").reviwe-img
                .swiper-slide 
                    img(src="img/reviwe-3.jpg", alt="").reviwe-img
                .swiper-slide 
                    img(src="img/reviwe-4.jpg", alt="").reviwe-img