.welcome-wrapper
    .main-container 
        .welcome
            .welcome__content 
                h1(data-aos="fade-up", data-aos-duration="1000").welcome-title Жидкий хлорофилл - зеленый король!
                div(data-aos="fade-up", data-aos-delay="500", data-aos-duration="1000").welcome-text 
                    p Жидкий хлорофилл NSP можно рассматривать как продукт, полезный без исключения всем, кто заинтересован в здоровом активном долголетии
                div(data-aos="fade-up", data-aos-delay="1000", data-aos-duration="1000").buttons 
                    .buttons__item 
                        a(href="modal").btn.btn-primary.modal-btn Оформить дисконтную карту 
                    .buttons__item 
                        a(href="#").btn-secondary.btn-white-border Смотреть каталог
            div(data-aos="fade-up", data-aos-duration="1000").welcome__img
                img(src="img/welcome-img.png", alt="")
