extends layout/_layout

block content
	include blocks/_header
	include blocks/_welcome
	include blocks/_product
	include blocks/_benefits
	include blocks/_about
	include blocks/_sertificate.pug
	include blocks/_instruction
	include blocks/_footer
	include blocks/_modal