*,
:after,
:before {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  min-width: 320px;
  margin:0;
  font-size: 18px;
  line-height: 1.5;
  font-family: $fontFamili;
  background: #fff;
  color: $mainColor;
}

#main {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

#overlay {
  position: fixed;
  z-index: 49;
  background: rgba(0, 0, 0, 0.49);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s all ease;
  pointer-events: none;

  &.is-active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
}